input[type=text], select {
  width:20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
}


#myChild {
  width:94.9%;
  height:200px;
  background-color:#c4e293;
  border:5px solid;
  border-style: dashed;
  margin-top: 40px;
  padding: 25px;
  font-size: xx-large;
}