<h1>Communication of Components (Parent to Child: Sharing Data via Input)</h1>
<div id="myDIV">
  Parent : <input type="color" value="#faba8f" disabled>
  Child : <input type="color" value="#c4e293" disabled>
  <hr>
  <app-parent></app-parent>
</div>

<hr>

<h1>Communication of Components (Child to Parent: Sharing Data via ViewChild with AfterViewInit)</h1>
<div id="myDIV">
  Parent : <input type="color" value="#faba8f" disabled>
  Child : <input type="color" value="#c4e293" disabled>
  <hr>
  <app-parent-one></app-parent-one>
</div>